//white
$color-white: #FFFFFF;
$color-white-gray: #f6f6f6;
//black
$color-black-origin: #000000;
$color-black: #595959;
$color-black-1: #3B3B3B;
//blue
$color-blue: #135eac;
//red
$color-red: #c62828;
$color-red1: #C70404;
$color-red2: #D63939;
$color-red3: #E99B9B;
$color-dark-red: #c2292e;
$color-red-r1: #F4CDCD;
$color-t-red: rgba(249, 187, 189, 0.7);
//green
$color-green: #1D9752;
$color-green1: #77C197;
$color-green2: #E8F4ED;
$color-green3: #0E9549;
$color-green-header:#1D9752;
$color-green-input: #D2EADC;
//gray
$color-gray: #bdbdbd;
$color-gray1: #262626;
$color-gray2: #676767;
$color-gray3: #3B3B3B;
$color-gray4: #B8B8B8;
$color-gray5: #F0F0F0;
$color-gray6: #D9D9D9;
$color-gray7: #8C8C8C;
$color-gray8: #3B3B3B;
$color-gray9: #F5F5F5;
$color-gray10: #F8F8F8;
$color-gray11: #060606;
$color-light-gray: #828282;
$color-dark-gray: #454546;
$color-gray-d8: #D8D8D8;
$color-gray-e6: #E6E6E6;
$color-gray-e8: #E8E8E8;
$color-t-gray: rgba(0, 0, 0, 0.08);
$color-solid-border: #E8E8E8;
$color-dash-border: #D4D4D4;
$color-gray-button: rgba(245, 245, 245, 0.3);
$color-gray-overthought: rgba(128, 128, 128, 0.5);
$color-gray-overthought-video: rgba(128, 128, 128, 0.1);
//yellow
$color-yellow: #ffeaac;
$color-yellow-y1: #FFF3CD;
$color-yellow-d9: #997404;
$color-gray-f7:#F7F7F7;
$color-gray-f5:#F5F5F5;
//tranparent
$color-transparent: transparent;
$color-transparent-footer: rgba(255, 255, 255, 0.3);
$color-red-star:#EC1E24;
$color-blue: #4299E1;