@use 'sass:math';
@function pxToRem($pixel) {
    @return math.div($pixel, 16px) *1rem;
}

$text-h0: pxToRem(64px);
$text-h1: pxToRem(48px);
$text-h2: pxToRem(40px);
$text-h3: pxToRem(32px);
$text-h4: pxToRem(24px);
$text-h5: pxToRem(20px);
$text-h6: pxToRem(16px);
$text-h7: pxToRem(14px);
$text-h8: pxToRem(12px);
$text-h9: pxToRem(10px);

$header-height: 60px
