REACT_APP_ENV=dev
REACT_APP_BASE_URL='https://appndt.tienvui.vn/V2/'
REACT_APP_ERROR_URL='https://sandboxapindt.tienngay.vn/'
REACT_APP_FIREBASE_FCM_VAPID_KEY='BNTIxuLW6uuhWr2PHmGDz8jnyZlmgu99QURhwoUUvvABdlq1lbZWT1KBp8yB2K8q5KA9zhOMI9OwSnR-qVluILs'
