@import 'assets/scss';
.all-container {
    display: flex;
    flex-direction: column;
    border: 1px solid $color-gray5;
    border-radius: 5px;
    padding: 16px 16px 40px 16px;
    position: relative;
    box-shadow: $box-shadow;
    white-space: pre-wrap;
    background-color: $color-white;
    .invest-amount-text {
        color: $color-gray3;
        font-size: $text-h4;
        font-family: $font-regular;
    }
    .invest-pay-form-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        .invest-pay-form-text {
            color: $color-gray2;
            font-size: $text-h7;
            font-family: $font-regular;
            padding-right: 8px;
        }
    }
    .invest-key-value-container {
        display: flex;
        flex-direction: row;
        padding: 16px 0 0 0;
        justify-content: space-between;
    }
    .label-container {
        display: flex;
        flex-direction: row;
    }
    .label-item {
        color: $color-gray2;
        font-size: $text-h6;
        font-family: $font-regular;
        padding-left: 8px;
    }
    .value-item {
        color: $color-green-header;
        font-size: $text-h6;
        font-family: $font-regular;
        padding-left: 8px;
    }
    .invest-now-wrap {
        display: flex;
        position: absolute;
        bottom: -20px;
        left: 0px;
        align-items: center;
        justify-content: center;
        width: 100%;
        .invest-now-container {
            display: flex;
            flex-direction: row;
            background-color: $color-green-header;
            padding: 8px 10px;
            border-radius: 5px;
            cursor: pointer;
            &:hover {
                opacity: 0.9;
                animation: shake 0.9s ease 1;
            }
            &:active {
                opacity: 0.7;
            }
            .invest-now-text {
                color: $color-white;
                font-size: $text-h6;
                font-family: $font-medium;
                padding-right: 10px;
                -webkit-user-select: none;
                -moz-user-select: -moz-none;
                -ms-user-select: none;
                user-select: none
            }
        }
    }
    @keyframes shake {
        0%,
        100% {
            transform: rotate(5deg);
        }
        10%,
        30%,
        50%,
        70%,
        90% {
            transform: rotate(2deg);
        }
        20%,
        40%,
        60%,
        80% {
            transform: rotate(-5deg);
        }
    }
}
