@import 'assets/scss';
.all-container {
    display: flex;
    flex-direction: column;
    border: 1px solid $color-gray5;
    border-radius: 5px;
    padding: 16px;
    position: relative;
    box-shadow: $box-shadow;
    white-space: pre-wrap;
    background-color: $color-white;
    user-select: none;
    cursor: pointer;
    &:hover {
        opacity: 0.9;
        scale: 0.98;
        border: 1px solid $color-green-header;
    }
    &:active {
        opacity: 0.8;
        scale: 0.99;
    }
    .invest-amount-text {
        color: $color-gray3;
        font-size: $text-h4;
        font-family: $font-regular;
    }
    .invest-pay-form-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        .invest-pay-form-text {
            color: $color-gray2;
            font-size: $text-h7;
            font-family: $font-regular;
            padding-right: 8px;
        }
    }
    .invest-key-value-container {
        display: flex;
        flex-direction: row;
        padding: 16px 0 0 0;
        justify-content: space-between;
    }
    .left-item-container {
        display: flex;
        flex-direction: row;
    }
    .label-item {
        color: $color-gray2;
        font-size: $text-h6;
        font-family: $font-regular;
        padding-left: 8px;
    }
    .value-item {
        color: $color-green-header;
        font-size: $text-h6;
        font-family: $font-regular;
    }
    .invest-now-wrap {
        display: flex;
        position: absolute;
        bottom: -20px;
        left: -10px;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}
