@import "assets/scss";
.input {
    padding: 10px 15px;
    border: 1px solid $color-gray;
    margin-right: 10px;
    border-radius: 5px;
}

.input:hover {
    border: 1px solid $color-green;
}

.container-input {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 15px;
}

.message-error {
    margin: 5px 0px 0 0px;
    background-color: $color-white;
}

.right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: calc(5% + 12px);
    padding-left: 5%;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-bottom: 30px;
    flex: 1;
    max-height: 95vh;
}

.right-container-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    flex: 1;
}

.scroll {
    overflow-y: auto;
}

.hover-text:hover {
    opacity: 0.8;
}