@import 'assets/scss';
.page {
    width: 100%;
    overflow: auto;
    height: calc(var(--vh, 1vh) * 100 - $header-height);
    overflow-x: hidden;
}

.banner {
    width: 100%;
    height: auto;
    min-height: 300px;
}

.back {
    display: flex;
    position: absolute;
    top: 40px;
    left: 40px;
    background-color: $color-gray9;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    cursor: pointer;
    &:hover {
        opacity: 0.9;
    }
    &:active {
        opacity: 0.7;
    }
    .ic-back {
        width: 20px;
        height: 20px;
    }
}

.back-history {
    display: flex;
    position: absolute;
    top: 40px;
    left: 40px;
    background-color: $color-gray-button;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    z-index: 10000;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        opacity: 0.9;
    }
    &:active {
        opacity: 0.7;
    }
    .ic-back {
        width: 20px;
        height: 20px;
    }
}

.back-mobile-history {
    display: flex;
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: $color-gray-button;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    z-index: 10000;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    &:hover {
        opacity: 0.9;
    }
    &:active {
        opacity: 0.7;
    }
    .ic-back {
        width: 10px;
        height: 10px;
    }
}

.back-mobile {
    display: flex;
    position: absolute;
    top: 16px;
    left: 16px;
    background-color: $color-gray9;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    z-index: 10000;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
    &:hover {
        opacity: 0.9;
    }
    &:active {
        opacity: 0.7;
    }
    .ic-back {
        width: 10px;
        height: 10px;
    }
}

.banner-container {
    height: auto;
    width: 100%;
    position: relative;
}

.content-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 15px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.text-banner-container {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.invest-tien-ngay-text {
    color: $color-white;
    font-family: $font-medium;
    font-size: $text-h0;
    text-align: center;
    animation: splash 1s normal forwards ease-in-out;
    @include mobile {
        font-size: $text-h3;
    }
}

.invest-build-future-text {
    color: $color-white;
    font-family: $font-medium;
    font-size: $text-h4;
    text-align: center;
    animation: splash 2.5s normal forwards ease-in-out;
    @include mobile {
        font-size: $text-h6;
        margin: 6px 0;
    }
}

.describe-text {
    color: $color-white;
    padding-bottom: 16px;
    font-family: $font-medium;
    font-size: $text-h6;
    text-align: center;
    animation: splash 3.5s normal forwards ease-in;
    @include mobile {
        font-size: $text-h7;
    }
}

.content-invest-container {
    display: flex;
    flex-direction: column;
    border: 1px solid $color-gray5;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: $color-white;
    box-shadow: $box-shadow;
    border-radius: 8px;
    position: relative;
}

.content-invest-container-mobile {
    display: flex;
    flex-direction: column;
    border: 1px solid $color-gray5;
    justify-content: center;
    align-items: center;
    width: calc(100% - 32px);
    background-color: $color-white;
    box-shadow: $box-shadow;
    border-radius: 8px;
    position: relative;
}

.info-contract-text {
    color: $color-gray2;
    padding-top: 16px;
    font-family: $font-medium;
    font-size: $text-h6;
}

.amount-invest-text {
    color: $color-green-header;
    font-family: $font-medium;
    font-size: $text-h0;
}

.amount-invest-mobile-text {
    color: $color-green-header;
    font-family: $font-medium;
    font-size: $text-h3;
}

.invest-wrap {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 0px 0 48px 0;
    .column-wrap {
        flex-direction: column;
        display: flex;
    }
}

.invest-note-container {
    display: flex;
    flex-direction: column;
    padding: 48px 0;
    width: 80%;
}

.invest-note-container-mobile {
    display: flex;
    flex-direction: column;
    padding: 48px 0;
    width: calc(100% - 32px);
}

.invest-note-text {
    color: $color-gray3;
    font-family: $font-medium;
    font-size: $text-h6;
    padding-bottom: 24px;
}

.invest-note-describe-text {
    color: $color-gray2;
    font-family: $font-regular;
    font-size: $text-h6;
}

.key-value-container {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $color-gray5;
    justify-content: space-between;
    padding: 16px 0 8px 0;
}

.invest-now-wrap {
    display: flex;
    position: absolute;
    bottom: -20px;
    left: -10px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.invest-now-text {
    color: $color-white;
    font-size: $text-h6;
    font-family: $font-medium;
    padding-right: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.invest-now-container {
    display: flex;
    flex-direction: row;
    background-color: $color-green-header;
    padding: 10px 20px;
    border-radius: 5px;
    min-width: 35%;
    justify-content: center;
    animation: zoom 4s infinite;
    cursor: pointer;
    &:hover {
        opacity: 0.9;
    }
    &:active {
        opacity: 0.7;
    }
}

@keyframes zoom {
    0%,
    100% {
        scale: 1;
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        scale: 1.1;
    }
    20%,
    40%,
    60%,
    80% {
        scale: 1;
    }
}

@keyframes splash {
    from {
        opacity: 0;
        transform: scale(0, 0);
    }
    50% {
        opacity: 1;
        transform: scale(1.1, 1.1);
    }
    to {
        transform: scale(1, 1);
    }
}

.describe-popup-style {
    font-size: $text-h6;
    font-family: $font-regular;
    color: $color-gray7;
    padding: 12px 12px 24px 12px;
    text-align: center;
}
