@import "assets/scss";
.flex {
    display: flex;
    flex: 1;
}

.account-info-view {
    display: flex;
    flex-direction: column;
    border: 1px solid $color-gray5;
    box-shadow: $box-shadow;
    border-radius: 8px;
    padding: 16px;
    @include mobile {
        padding: 16px;
        background-color: $color-white;
        border: none;
        box-shadow: none;
        border-radius: none;
    }
}

.shadow {
    border: 1px solid $color-gray5;
    box-shadow: $box-shadow;
    border-radius: 8px;
    @include mobile {
        background-color: $color-white;
        border: none;
        box-shadow: none;
        border-radius: none;
    }
}

.container-edit {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid $color-gray5;
    box-shadow: 0px 4px 15px $box-shadow;
    border-radius: 8px;
    @include mobile {
        background-color: $color-white;
        border: none;
        box-shadow: none;
        border-radius: none;
        padding: 16px 0px;
    }
}

.wid-100 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    @include mobile {
        justify-content: space-between;
        margin-top: 30px;
    }
}

.btn-container {
    background-color: $color-green;
    padding: 12px 20px;
    @include mobile {
        padding: 5px 10px;
    }
}

.btn-cancel {
    background-color: $color-red-r1;
    padding: 12px 20px;
    @include mobile {
        padding: 5px 10px;
    }
}

.border-red {
    padding: 3px 5px;
    background-color: $color-red-r1;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.padding {
    padding: 1% 8%;
    @include mobile {
        padding: 2% 15%;
    }
}

.top {
    padding: 16px 20px;
    background-color: $color-gray-e8;
}

.img {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll {
    height: 90vh;
    overflow-y: auto;
}

.err-container {
    display: flex;
    flex-direction: row;
    background-color: $color-red-r1;
    padding: 8px 4px;
    border-radius: 8px;
    margin-top: 24px;
}

.warning-container {
    display: flex;
    flex-direction: row;
    background-color: $color-yellow-y1;
    padding: 8px 4px;
    border-radius: 8px;
    margin-top: 24px;
}

.ticked-container {
    display: flex;
    flex-direction: row;
    background-color: $color-green2;
    padding: 8px 4px;
    border-radius: 8px;
    margin-top: 24px;
}

.warning-text {
    color: $color-yellow-d9;
    font-size: $text-h6;
    font-family: $font-regular;
    margin-left: 9px;
}

.err-text {
    color: $color-red;
    font-size: $text-h6;
    font-family: $font-regular;
    margin-left: 9px;
}

.ticked-text {
    color: $color-green-header;
    font-size: $text-h6;
    font-family: $font-regular;
    margin-left: 9px;
}

.item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid $color-gray5;
    padding: 16px 0 8px 0;
}

.item-last-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 16px;
}

.radio {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    padding: 2px;
    border: 1px solid $color-gray-d8;
    display: flex;
    @include mobile {
        width: 10px;
        height: 10px;
    }
}

.radio-active {
    background-color: $color-green;
    flex: 1;
    border-radius: 15px;
}

.radio-no-active {
    background-color: $color-white;
    border-radius: 15px;
}