@import "assets/scss";
.shadow {
    border: 1px solid $color-gray5;
    box-shadow: $box-shadow;
    border-radius: 8px;
    @include mobile {
        background-color: $color-white;
        border: none;
        box-shadow: none;
        border-radius: none;
    }
}

.star {
    color: $color-red-star;
}

.date-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input-container {
    margin-right: 16px;
    padding: 5px 10px;
    min-width: 180px;
    @include mobile {
        margin-right: 0px;
        min-width: 0px;
    }
}

.describe-container {
    margin-bottom: 4px;
}

.describe-container-mobile {
    margin-bottom: 32px;
}
